<%- include head.ejs %>

    <h1>Documents Found</h1>

    <p>Your search for documents containing “<%= subtext %>” produced the results below. To see or download one, click on it.</p>

    <p><span class="link"><a href="/docs/search">I want to revise by search.</a></span></p>

    <p><span class="link"><a href="/">No, I want to do something else.</a></span></p>

    <div class="hits">
      <%= hits %>
    </div>

<%- include foot.ejs %>
