<%- include('../util/head.ejs'); %>

    <h1>Documents from BTH</h1>

    <p>What do you want to do with documents?</p>

    <p><span class="link"><a href="/docs/browse?p=">Browse</a></span></p>
    <p><span class="link"><a href="/docs/search">Search</a></span></p>
    <p><span class="<%= addclass %>"><a href="/docs/add">Add one</a></span></p>
    <p><span class="link"><a href="/">Something else</a></span></p>

<%- include('../util/foot.ejs'); %>
