<%- include('../util/head.ejs'); %>

    <h1>Documents from BTH</h1>

    <p>You can access documents here.</p>

    <p><span class="link buttonish u1p"><a href="/">restart</a></span></p>

    <p>Please choose what to do with documents:</p>

    <p><span class="link buttonish u1p"><a href="/docs/browse">browse</a></span></p>
    <p><span class="link buttonish u1p"><a href="/docs/search">search</a></span></p>
    <p><span class="<%= addclass %> buttonish u1p"><a href="/docs/add">add one</a></span></p>

<%- include('../util/foot.ejs'); %>
