<%- include head.ejs %>

    <h1>Search for Documents</h1>

    <p>You can search for documents here.</p>

    <p><span class="link"><a href="/docs/browse">No, I want to browse for documents.</a></span></p>

    <p><span class="link"><a href="/">No, I want to do something else.</a></span></p>

    <form method="post" action="/docs/search" class="form">

      <pre class="form-error"></pre>

      <label>
        <span>Text to search for:</span>
        <input type="text" name="subtext" />
      </label>

      <input type="submit" value="Search">

    </form>

<%- include foot.ejs %>
