@media (min-width: 0) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 664px) {
  html {
    font-size: 1.6vw;
  }
}
@media (min-width: 1300px) {
  html {
    font-size: 20px;
  }
}
@media print {
  html {
    font-size: 10px;
  }
}
* {
  box-sizing: border-box;
}
a {
  overflow-wrap: break-word;
}
.boxlist {
  border-style: solid;
  border-width: thin;
  border-color: darkgray;
  margin-bottom: 1rem;
  padding: 0 0.5rem 0 0.5rem;
  width: min-content;
  white-space: nowrap;
}

button {
  background-color: #fe0;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  font-size: 1.2rem;
  font-style: italic;
}

button.dangerous {
  font-weight: bold;
  background-color: mediumvioletred;
  color: yellow;
}

button,
html,
input {
  font-family: serif;
}

.dirlist {
  padding: 1rem;
  background-color: ivory;
  font-family: monospace;
}

.dirlist>p {
  margin-left: 6ch;
  text-indent: -3ch;
}

.dirlist>table {
  margin: 1rem;
}

.dirlist>table,
.dirlist>table th,
.dirlist>table td {
  border-style: solid;
  border-color: tan;
  border-width: 1px;
  border-collapse: collapse;
  padding: 0 0.8rem;
}

.emph {
  background-color: yellow;
}

.foot {
  text-align: center;
  font-size: 0.8rem;
  color: darkslategray;
}

.form input[type="submit"] {
  margin-top: 1rem;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
}

.form label > span {
  display: inline-block;
  min-width: 8rem;
}

.form-error {
  color: red;
  font-weight: bold;
}

.gone {
  display: none;
}

html,
body {
  margin: 3%;
  padding: 0;
  width: 88vw;
  background-color: oldlace;
}

input {
  font-size: 1rem;
}

.kvpairs {
  border-style: solid;
  border-width: thin;
  border-color: gray;
  margin: 0 0.5rem;
  padding: 0.33rem 0.9rem;
}

.kvpairs>p {
  margin: 0;
}

.midhead {
  font-size: 1.4rem;
  font-weight: bold;
}

.open {
  border-style: none;
  text-align: center;
}

.status {
  text-align: right;
  color: brown;
}

table {
  border-collapse: collapse;
}

td {
  border-style: solid;
  border-width: thin;
  border-color: gray;
  padding: 0.5rem;
}

.tophead {
  font-size: 2rem;
  font-weight: bold;
}

.vclose {
  margin: 0.5rem;
}
