html,
body {
  margin: 3%;
  padding: 0;
  width: 88vw;
  background-color: oldlace;
  font-size: 16px;
}

.boxlist {
  border-style: solid;
  border-width: thin;
  border-color: darkgray;
  margin-bottom: 1em;
  padding: 0 0.5em 0 0.5em;
  width: min-content;
  white-space: nowrap;
}

button {
  background-color: #fe0;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  font-style: italic;
}

button.dangerous {
  background-color: mediumvioletred;
  color: yellow;
}

button,
html,
input {
  font-family: serif;
}

.dirlist {
  padding: 9px;
  background-color: ivory;
  font-family: monospace;
}

.dirlist>p {
  margin-left: 6ch;
  text-indent: -3ch;
}

.dirlist>table {
  margin: 9px;
}

.dirlist>table,
.dirlist>table th,
.dirlist>table td {
  border-style: solid;
  border-color: tan;
  border-width: 1px;
  border-collapse: collapse;
  padding: 0 9px;
}

.foot {
  text-align: center;
  font-size: x-small;
  color: slategray;
}

.form input[type="submit"] {
  margin-top: 1em;
}

.form label {
  display: block;
  margin-bottom: 0.5em;
}

.form label > span {
  display: inline-block;
  min-width: 8em;
}

.form-error {
  color: red;
  font-weight: bold;
}

.gone {
  display: none;
}

.kvpairs {
  border-style: solid;
  border-width: thin;
  border-color: gray;
  margin: 0 6px;
  padding: 3px 9px;
}

.kvpairs>p {
  margin: 0;
}

.open {
  border-style: none;
  text-align: center;
}

.status {
  text-align: right;
  color: brown;
}

table {
  border-collapse: collapse;
}

td {
  border-style: solid;
  border-width: thin;
  border-color: gray;
  padding: 6px;
}

.vclose {
  margin: 0.5em;
}
