<%- include head.ejs %>

  <h1>Contact Manager</h1>

  <div>
    <h3>Welcome to Contact Manager!</h3>
    <h4>Use of Contact Manager is limited to registered users.</h4>
    <p>Not yet registered? <a href="/signup">Sign up</a>.</p>
    <p>Already registered? <a href="/login">Log in</a>.</p>
  </div>

<%- include foot.ejs %>
