<%- include head.ejs %>

  <h1>Login</h1>

  <p>Not yet signed up? <span class="link"><a href="/users/signup">Sign up</a></span></p>

  <form method="post" action="/users/login" class="login-form">
    <pre class="login-form-errors"></pre>
    <label>
      <span>Username:</span>
      <input type="text" name="username" />
    </label>
    <label>
      <span>Password:</span>
      <input type="password" name="password" />
    </label>
    <input type="submit" value="Log in">
  </form>

<%- include foot.ejs %>
