<%- include header.ejs %>

  <h1>Login</h1>

  <form method="post" action="/contacts" class="login-form">
    <pre class="login-form-errors"></pre>
    <label>
      <span>First name:</span>
      <input type="text" name="first_name" />
    </label>
    <label>
      <span>Last name:</span>
      <input type="text" name="last_name" />
    </label>
    <input type="submit" value="Login">
  </form>

<%- include footer.ejs %>
