<!DOCTYPE html>
<html>
  <head>
    <title><%- msgs.docsTitle %></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <p class="status">
      <%-
        msgs.status
          ? `${msgs.status}
            ${linkButton(
              '/usr/logout', msgs.btnLogout, {tabIndex: 'tabindex="-1" '}
            )}
            ${linkButton(
              '/usr/deregister', msgs.btnDeregister, {tabIndex: 'tabindex="-1" '}
            )}
          `
          : ''
      %>
    </p>
