<%- include head.ejs %>

    <main>
      <h1 class="tophead">Page Not Found</h1>
      <h1 class="midhead">Sorry, the page you have requested was not found.</h3>
    </main>

<%- include foot.ejs %>
