      <label>
        <span>Your name:</span>
        <input required autofocus
          type="text" name="name"
          size="40" minlength="3" maxlength="40"
        >
      </label>
      <label>
        <span>Your email address:</span>
        <input required
          type="email" name="email"
          size="50" minlength="6" maxlength="50"
        >
      </label>
      <label>
        <span>Make password visible below?</span>
        <input type="checkbox" name="pwsee" value="yes" checked>
      </label>
      <label>
        <span>Create a password:</span>
        <input required
          type="text" name="password1"
          size="40" minlength="5" maxlength="40"
        >
      </label>
      <label>
        <span>Retype the password:</span>
        <input required
          type="text" name="password2">
          size="40" minlength="5" maxlength="40"
        >
      </label>
