<%- include('../util/head.ejs'); %>

    <h1>Login</h1>

    <p>If you are already registered, you can log in here.</p>

    <p><span class="link"><a href="/">No, I don’t want to log in.</a></span></p>

    <form method="post" action="/user/login" class="form">
      <pre class="form-error"></pre>
      <label>
        <span>Unit or other ID (format: 1AB or 1A):</span>
        <input placeholder="1A" required autofocus
          type="text" name="id"
          size="3" minlength="2" maxlength="3"
          pattern="\d[A-H]{1,2}"
        >
      </label>
      <label>
        <span>Make password visible below?</span>
        <input type="checkbox" name="pwsee" value="yes" checked>
      </label>
      <label>
        <span>Password:</span>
        <input required
          type="text" name="password"
          size="40" minlength="5" maxlength="40"
        >
      </label>
      <input type="submit" value="Log in">
    </form>

<%- include('../util/foot.ejs'); %>
