<%- include('../util/head.ejs'); %>

    <h1>Documents from BTH</h1>

    <h2>Welcome!</h2>

    <h3>Introduction</h3>

    <p>Berkeley Town House (BTH) is a senior housing cooperative in Berkeley, California. In fact, it’s the <em>first</em> senior housing cooperative in the United States!</p>

    <p>At this site you can see some documents from BTH. A BTH member collected the documents from 2009 to 2017 in order to help preserve, and facilitate access to, the institutional memory of this historic community.</p>

    <h3>Access</h3>

    <p>Some of the documents here have access limitations. If you are a BTH member, prospective member, resident, or manager, you can register or log in for additional access.</p>

    <p>Please choose:</p>

    <p><span class="link buttonish"><a href="/usr/register">Register</a></span></p>
    <p><span class="link buttonish"><a href="/usr/login">Log in</a></span></p>
    <p><span class="link buttonish"><a href="/docs">See public documents</a></span></p>

<%- include('../util/foot.ejs'); %>
