<%- include head.ejs %>

    <h1>Documents from BTH</h1>

    <h2>Welcome!</h2>

    <h3>Introduction</h3>

    <p>At this site you can see some documents from Berkeley Town House (BTH), a senior housing cooperative in Berkeley, California (in fact, the <em>first</em> senior housing cooperative in the United States!). The documents were collected by a BTH member from 2009 to 2017 in order to help preserve, and facilitate access to, the institutional memory of this historic community.</p>

    <h3>Access</h3>

    <p>Some of the documents here have access limitations. If you are a BTH member, prospective member, resident, or manager, you can get additional access by registering or, if already registered, logging in.</p>

    <p><span class="link"><a href="/user/register">I want to register</a></span>.</p>
    <p><span class="link"><a href="/user/login">I am registered; I want to log in</a></span>.</p>
    <p><span class="link"><a href="/docs/index">I want to see the public documents</a></span>.</p>

<%- include foot.ejs %>
