<%- include('../util/head.ejs'); %>

    <h1>Login Successful</h1>

    <p>Your login succeeded.</p>

    <p><span class="link buttonish"><a href="/">Home</a></span></p>

<%- include('../util/foot.ejs'); %>
