<%- include('../util/head.ejs'); %>

    <h1>Registration</h1>

    <p>If you are not yet registered, you can register here.</p>

    <p><span class="link buttonish u1p"><a href="/">restart</a></span></p>

    <p>In what capacity are you registering?</p>

    <form method="post" action="/user/register/role" class="form">
      <pre class="form-error"></pre>
      <label>
        <input type="radio" name="role" value="member">
        <span>I am a current member of BTH.</span>
      </label>
      <label>
        <input type="radio" name="role" value="resident">
        <span>I am a nonmember resident of BTH.</span>
      </label>
      <label>
        <input type="radio" name="role" value="prospect">
        <span>I am a prospective member of BTH.</span>
      </label>
      <label>
        <input type="radio" name="role" value="mgr">
        <span>I am a manager of BTH.</span>
      </label>
      <input type="submit" value="Continue">
    </form>

<%- include('../util/foot.ejs'); %>
