<%- include head.ejs %>

    <h1>Registration Request Received</h1>

    <p>Thank you! Your registration request has been received. You will be contacted for verification.</p>

    <p>Meanwhile, you may <span class="link"><a href="/">access the public documents</a></span>.</p>

<%- include footer.ejs %>
