<%- include head.ejs %>

    <h1>Resident Registration</h1>

    <p>If you are a current BTH nonmember resident and not yet registered, you can register here.</p>

    <p><span class="link"><a href="/">No, this does not apply to me.</a></span></p>

    <form method="post" action="/user/register/resident" class="form">

      <pre class="form-error"></pre>

      <label>
        <span>Your unit:</span>
        <input placeholder="1XY" required
          type="text" name="unit" autofocus
          size="3" minlength="2" maxlength="3"
          pattern="\d[A-H]{1,2}"
        >
      </label>

      <%- include registration-data.ejs %>

      <input type="submit" value="Request registration as a nonmember resident">

    </form>

<%- include footer.ejs %>
