<%- include('../util/head.ejs'); %>

    <h1>Registration Request Received</h1>

    <p>Thank you! Your registration request has been received. You will be contacted for verification.</p>

    <p><span class="link buttonish"><a href="/">Restart</a></span></p>

<%- include('../util/foot.ejs'); %>
