<%- include head.ejs %>

  <h1>Sign up</h1>

  <p>Already signed up? <span class="link"><a href="/users/login">Log in</a></span></p>

  <form method="post" action="/users/signup" class="signup-form">
    <pre class="signup-form-errors"></pre>
    <label>
      <span>Username:</span>
      <input type="text" name="username">
    </label>
    <label>
      <span>Create new password:</span>
      <input type="password" name="password1">
    </label>
    <label>
      <span>Retype password to confirm:</span>
      <input type="password" name="password2">
    </label>
    <label>
      <span>Give this user an admin role?</span>
      <input type="checkbox" name="admin">
    </label>
    <input type="submit" value="Sign up">
  </form>

<%- include footer.ejs %>
